body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("./images/pattern-background-desktop.svg"); 
    background-repeat: no-repeat;
    background-color: #e0e8ff;

}

.container {
    background-color: white;
    max-width: 450px;
    border-radius: 15px;
}

.attribution {
      font-size: 11px;
      text-align: center;
  }

  .attribution a {
      color: hsl(228, 45%, 44%);
  }
