@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    font-family: 'Outfit', sans-serif;
}

body {
    min-height: 65vh;
    display: grid;
    place-content: center;
    background-image: url("./images/pattern-background-desktop.svg"); 
    background-repeat: no-repeat;
    background-color: #e0e8ff;

}

.container img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;;
}

.container {
    background-color: white;
    max-width: 450px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.container h1 {
    margin-top: 40px;
    text-align: center;
    color: #1a2751;
}

.container > p {
    text-align: center;
    color: #747895;
    font-size: 1.1rem;
    margin: 0px 50px;
}

.container h2 {
    color: #1a2751;
    font-size: medium;
    font-weight: bold;
}

.infobox {
    margin: 10px 50px;
    background-color: #f8f9fe;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plan-container {
    display: flex;
    align-items: center;
    gap: 16px;
}

.plan {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.plan-description,
.plan-cost {
    margin: 0;
}


button {
    margin: 15px 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    
}

button.payment-button {
    background-color: #382ae1;
    color: #fafafa;
    border: transparent;
    border-radius: 15px;
    text-align: center;
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

}

button.payment-button:hover {
    background-color: #766cf1;
    cursor: pointer;
}

button.cancel-button {
    background-color: transparent;
    border: none;
    margin-bottom: 30px;
    color: #646786;
}

button.cancel-button:hover {
    color: #1a2751;
    cursor: pointer;

}

.payment {
    display: flex;
    flex-direction: column;
}

.attribution {
      font-size: 11px;
      text-align: center;
  }

.attribution a {
    color: hsl(228, 45%, 44%);
}
